<html>
<head>
<title>Create a cat</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<center>
		<form action="/cats/create" method="post">
			Name: <input type="text" name="name" /><br /> Breed: <input
				type="text" name="breed" /><br /> Color: <input type="text"
				name="color" /><br /> Number of legs: <input type="number"
				name="numberOfLegs" /><br /> <input type="submit"
				value="Create a Cat">
		</form>
		<a class="button" href="/">Back To Home</a>
	</center>
</body>
</html>